<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petfinder.mapper.DemandeMapper">

    <resultMap id="demande" type="Demande">
        <id property="idDemande" column="id_Demande"/>
        <result property="etatDemande" column="etat_Demande"/>
        <result property="dateCreationDemande" column="date_Creation_Demande"/>
        <result property="dateRealisationDemande" column="date_Realisation_Demande"/>
        <association property="animal" resultMap="Animal">
            <id property="idAnimal" column="id_Animal"/>
            <result property="nomAnimal" column="nom_Animal"/>
            <result property="typeAnimal" column="type_Animal"/>
            <result property="sexeAnimal" column="sexe_Animal"/>
            <result property="couleurAnimal" column="couleurAnimal"/>
            <result property="dateAnimal" column="date_Animal"/>
            <result property="etatAnimal" column="etat_Animal"/>
            <result property="photoAnimal" column="photo_Animal"/>
            <result property="descriptionAnimal" column="description_Animal"/>
            <association property="utilisateur" javaType="Utilisateur">
                <id property="idUtilisateur" column="id_Utilisateur"/>
                <result property="nomUtilisateur" column="nom_Utilisateur"/>
                <result property="prenomUtilisateur" column="prenom_utilisateur"/>
                <result property="civilite" column="civilité"/>
                <result property="emailUtilisateur" column="email_Utilisateur"/>
                <result property="telUtilisateur" column="tel_Utilisateur"/>
                <result property="passwordUtilisateur" column="password_Utilisateur"/>
                <result property="accesAdmin" column="acces_Admin"/>
                <association property="localisation" javaType="Localisation" >
                    <id property="idLocalisation" column="id_Localisation"/>
                    <result property="villeLocalisation" column="ville_Localisation"/>
                    <result property="cpLocalisation" column="cp_Localisation"/>
                    <result property="rueLocalisation" column="rue_Localisation"/>
                </association>
            </association>
            <association property="localisation" javaType="Localisation">
                <id property="idLocalisation" column="id_Localisation"/>
                <result property="villeLocalisation" column="ville_Localisation"/>
                <result property="cpLocalisation" column="cp_Localisation"/>
                <result property="rueLocalisation" column="rue_Localisation"/>
            </association>
        </association>
        <association property="utilisateur" javaType="Utilisateur">
            <id property="idUtilisateur" column="id_Utilisateur"/>
            <result property="nomUtilisateur" column="nom_Utilisateur"/>
            <result property="prenomUtilisateur" column="prenom_utilisateur"/>
            <result property="civilite" column="civilité"/>
            <result property="emailUtilisateur" column="email_Utilisateur"/>
            <result property="telUtilisateur" column="tel_Utilisateur"/>
            <result property="passwordUtilisateur" column="password_Utilisateur"/>
            <result property="accesAdmin" column="acces_Admin"/>
            <association property="localisation" javaType="Localisation" >
                <id property="idLocalisation" column="id_Localisation"/>
                <result property="villeLocalisation" column="ville_Localisation"/>
                <result property="cpLocalisation" column="cp_Localisation"/>
                <result property="rueLocalisation" column="rue_Localisation"/>
            </association>
        </association>
    </resultMap>

    <insert id="addDemande" parameterType="demande">
        insert into demande (etat_Demande,date_Creation_Demande,id_Animal)
        values(#{etatDemande},#{dateCreationDemande},#{animal.idAnimal})
    </insert>
</mapper>